doctype html
html
    head
        title User Manager
        style
            include includes/index.css
    body
        div(class='buttons')
            button(href="/createuser") Create User
            button(href="/userlist") User List