doctype html
html
    head
        title User Manager
    body
        h3 User Listing
        div(class='users')
            each user in users
                div(class='user')
                    ul
                        li Name:
                        span= user.name

                        li Email Address:
                        span= user.email

                        li Age:
                        span= user.age